body{
	background-color: #b3b3b3;


}
.header{
	background-color: white;
	box-shadow: 1px 1px 1px grey;
}
#logo{
	height: 90px;
	float: left;
}
.menu:hover{
	color: black;
	text-shadow:0.1px 0.1px 0.1px grey;
}
.subheadings{
	float: left;
	font-weight: bold;
}
.paras_in_aboutus{
	float: left;
	text-align: left;
}
.paras_in_aboutus,ol {
	float: left;
	text-align: left;
	width: 100%;
}